.cancel_room_reservation_container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100vw;
    max-height: 100vh;
    overflow-y: scroll;
}

.list_reservation, .list_cancel_reservation{
    display: flex;
    flex-direction: column;
    gap: 1em;
}