:root {
    --color_font: #2e2e2e;
    --primary_color: #647af7;
    --secundary_color: #4c61d6;
    --background_color: #ffffff;
    --secundary_background_color: #f1f1f1;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: var(--color_font);
    font-weight: 500;
}
h3, h1{
    font-weight: bold;
    color: var(--primary_color);
}
.main_container{
    display: flex;
    min-height: 100vh;
}
.routes_container{     
    background-color: var(--background_color);
    width: 100vw;
    height: 100vh;
    padding: 2em 1em 0 1em;  
}
.nav_aside{   
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 1em; 
    background-color: var(--background_color_color);  
    border-right: 1px solid var(--color_font);   
}

.nav_aside a{
    font-size: 1.2em;
    text-decoration: none;
    background-color: inherit; 
    font-weight: bold;
}

.nav_aside a:focus{
    cursor: pointer;
    border-left: solid 4px var(--primary_color);
    color: var(--primary_color);
}