:root {
    --color_font: #2e2e2e;
    --primary_color: #f7b264;
    --secundary_color: #cc8f49;
    --background_color: #f5f5f5;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.main_container{
    display: flex;
    min-height: 100vh;
}
.routes_container{     
    background-color: var(--background_color);
    width: 100vw;
    height: 100vh;
    padding: 2em 1em 0 1em;    
}
.nav_aside{   
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 1em; 
    background-color: var(--background_color);  
   
}

.nav_aside a{
    font-size: 1.2em;
    text-decoration: none;
    background-color: inherit; 
    color: var(--color_font);   
    font-weight: bold;
}

.nav_aside a:focus{
    cursor: pointer;
    border-left: solid 4px var(--primary_color);
    color: var(--primary_color);
}